.nomostrar{
    display:none;
}

.fuente-min{
    font-size: 10px !important;
}
.table-min tbody tr td{
    padding-top: 2px !important;
    padding-bottom: 2px  !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
}
.table-min tbody tr th{
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-left: 5px !important;
    padding-right: 20px !important;
}